* {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    background: url(wallpaperr.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

header{
    background: rgba(29, 29, 29, 0.8);
    text-align: center;
    padding: 3vh;
}

hr{
    border-top: 5px double rgb(43, 43, 43);
}

.container1, .container2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
    margin-bottom: 5px;
}

#introduction, #education, #about-me, #prog-skills{
    background-color: rgba(65, 65, 65, 0.68);
    width: 40%;
    border: 10px solid rgba(73, 72, 72, 0.562);
    padding: 50px;
    font-size: large;
}

.container3{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 .logo-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#socmed{
    width: 50%;
    height: 300px;
    background-color: rgba(65, 65, 65, 0.68);
    border: 10px solid rgba(73, 72, 72, 0.562);
    padding: 50px;
    font-size: large;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
}

.top-bar{
    background-color: rgba(29, 29, 29, 0.8);
    display: flex;
    justify-content: flex-end;
    padding: 1.3rem;
    cursor: pointer;
}


.topnav {
    left: 50%;
    overflow: hidden;
    background-color: rgba(29, 29, 29, 0.8);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgba(95, 104, 160, 1);
    color: rgba(29, 29, 29, 0.8);
  }
  
  .topnav a.active {
    background-color: rgba(95, 104, 160, 1);
    color: rgba(29, 29, 29, 0.8);
  }
  
  .topnav .icon {
    display: none;
  }
  

@media screen and (max-width: 1100px){
    #introduction, #education, #about-me, #prog-skills, #socmed {
        width: 80%;
    }
    
    #education, #prog-skills{
        margin-top: 5px;
    }

  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }  
  
  @media screen and (max-width: 675px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  